/.idea/workspace.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/encodings.xml
/.idea/copilot.data.migration.edit.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.agent.xml
/.idea/compiler.xml
/.idea/checkstyle-idea.xml
